# Archivos y directorios generados por Visual Studio
# Carpeta obj generada por .NET Core
**/obj/

# Carpeta bin generada por .NET Core
**/bin/

# Archivos temporales de Visual Studio
.vscode/

# Carpeta generada por Rider IDE
.idea/
# Directorio de dependencias NuGet
packages

# Archivos de usuario y configuración
.suo
.user
.sln.docstates
# Logs y archivos temporales
.log
.swp
Thumbs.db
Desktop.ini

# Archivos de compilación de .NET Core
project.lock.json
project.fragment.lock.json
artifacts

# Directorio de caché de Visual Studio
.vscode

# Paquetes de NuGet
.nupkg
